/*
/*/
!/src/
!.gitignore
!gradlew*
!gradle.properties
!/gradle/
!/eclipse/.metadata/.plugins/org.eclipse.debug.ui/
!/eclipse/.metadata/.plugins/org.eclipse.debug.core/
!/eclipse/.metadata/.plugins/org.eclipse.core.runtime/
!/eclipse/.metadata/.plugins/org.eclipse.core.resources/
!LICENSE.md
!README.md
!build.gradle
!fields.csv