IEclipsePreferences#org-eclipse-ant-ui {
	preferences:
		'org.eclipse.ant.ui.Color=210,81,81'
		'org.eclipse.ant.ui.debugColor=238,238,236'
		'org.eclipse.ant.ui.informationColor=121,171,255'
		'org.eclipse.ant.ui.verboseColor=209,151,217'
		'org.eclipse.ant.ui.warningColor=255,198,0'
}
IEclipsePreferences#org-eclipse-cdt-dsf-ui {
	preferences:
		'disassembly.addressColor=65,216,65'
		'disassembly.codeBytesColor=225,30,70'
		'disassembly.functionOffsetsColor=225,30,70'
}
IEclipsePreferences#org-eclipse-cdt-ui {
	preferences:
		'buildConsoleBackgroundColor=32,36,37'
		'buildConsoleErrorStreamColor=225,30,70'
		'buildConsoleInfoStreamColor=121,171,255'
		'buildConsoleOutputStreamColor=235,235,235'
		'buildConsoleProblemBackgroundColor=20,17,18'
		'buildConsoleProblemHighlightedColor=255,127,127'
		'buildConsoleProblemInfoBackgroundColor=32,36,37'
		'buildConsoleProblemWarningBackgroundColor=17,15,16'
}
IEclipsePreferences#org-eclipse-debug-ui {
	preferences:
		'org.eclipse.debug.ui.Color=225,30,70'
		'org.eclipse.debug.ui.MemoryHistoryKnownColor=235,235,235'
		'org.eclipse.debug.ui.MemoryHistoryUnknownColor=170,175,185'
		'org.eclipse.debug.ui.PREF_CHANGED_VALUE_BACKGROUND=150,80,115'
		'org.eclipse.debug.ui.changedDebugElement=255,128,128'
		'org.eclipse.debug.ui.consoleBackground=32,36,37'
		'org.eclipse.debug.ui.inColor=140,175,210'
		'org.eclipse.debug.ui.outColor=235,235,235'
}
IEclipsePreferences#org-eclipse-jdt-ui:org-eclipse-jdt-ui {
	preferences:
		'content_assist_completion_replacement_background=200,200,0'
		'content_assist_completion_replacement_foreground=200,0,0'
		'content_assist_parameters_background=52,57,61'
		'content_assist_parameters_foreground=238,238,238'
		'content_assist_proposals_background=52,57,61'
		'content_assist_proposals_foreground=238,238,238'
		'java_bracket=249,250,244'
		'java_comment_task_tag=154,140,124'
		'java_default=217,232,247'
		'java_doc_default=128,128,128'
		'java_doc_keyword=154,140,124'
		'java_doc_link=169,156,140'
		'java_doc_tag=30,120,155'
		'java_keyword=204,120,50'
		'java_keyword_return=204,120,50'
		'java_multi_line_comment=128,128,128'
		'java_operator=230,230,250'
		'java_single_line_comment=128,128,128'
		'java_string=23,198,163'
		'matchingBracketsColor=102,112,125'
		'pf_coloring_argument=221,40,103'
		'pf_coloring_assignment=217,232,247'
		'pf_coloring_comment=128,128,128'
		'pf_coloring_key=217,232,247'
		'pf_coloring_value=23,198,163'
		'semanticHighlighting.abstractClass.bold=true'
		'semanticHighlighting.abstractClass.color=62,171,230'
		'semanticHighlighting.abstractClass.enabled=true'
		'semanticHighlighting.abstractMethodInvocation.color=128,246,167'
		'semanticHighlighting.abstractMethodInvocation.enabled=true'
		'semanticHighlighting.annotation.bold=true'
		'semanticHighlighting.annotation.color=255,147,147'
		'semanticHighlighting.annotation.enabled=true'
		'semanticHighlighting.annotation.italic=true'
		'semanticHighlighting.annotationElementReference.color=235,75,100'
		'semanticHighlighting.annotationElementReference.enabled=true'
		'semanticHighlighting.class.bold=true'
		'semanticHighlighting.class.color=18,144,195'
		'semanticHighlighting.class.enabled=true'
		'semanticHighlighting.deprecatedMember.color=171,31,54'
		'semanticHighlighting.deprecatedMember.enabled=true'
		'semanticHighlighting.deprecatedMember.strikethrough=true'
		'semanticHighlighting.deprecatedMember.underline=false'
		'semanticHighlighting.enum.color=204,129,186'
		'semanticHighlighting.enum.enabled=true'
		'semanticHighlighting.enum.italic=true'
		'semanticHighlighting.field.color=102,225,248'
		'semanticHighlighting.field.enabled=true'
		'semanticHighlighting.inheritedMethodInvocation.color=205,246,104'
		'semanticHighlighting.inheritedMethodInvocation.enabled=true'
		'semanticHighlighting.interface.color=128,242,246'
		'semanticHighlighting.interface.enabled=true'
		'semanticHighlighting.localVariable.color=255,191,38'
		'semanticHighlighting.localVariable.enabled=true'
		'semanticHighlighting.localVariableDeclaration.color=237,127,72'
		'semanticHighlighting.localVariableDeclaration.enabled=true'
		'semanticHighlighting.method.color=167,236,33'
		'semanticHighlighting.method.enabled=true'
		'semanticHighlighting.methodDeclarationName.color=30,181,64'
		'semanticHighlighting.methodDeclarationName.enabled=true'
		'semanticHighlighting.number.color=104,151,187'
		'semanticHighlighting.number.enabled=true'
		'semanticHighlighting.parameterVariable.color=121,171,255'
		'semanticHighlighting.parameterVariable.enabled=true'
		'semanticHighlighting.staticField.color=141,218,248'
		'semanticHighlighting.staticField.enabled=true'
		'semanticHighlighting.staticFinalField.color=141,218,248'
		'semanticHighlighting.staticFinalField.enabled=true'
		'semanticHighlighting.staticMethodInvocation.color=150,236,63'
		'semanticHighlighting.staticMethodInvocation.enabled=true'
		'semanticHighlighting.typeArgument.color=215,131,127'
		'semanticHighlighting.typeArgument.enabled=true'
		'semanticHighlighting.typeParameter.color=191,164,164'
		'semanticHighlighting.typeParameter.enabled=true'
		'sourceHoverBackgroundColor=68,68,68'
}
IEclipsePreferences#org-eclipse-mylyn-wikitext-ui {
	preferences:
		'block-h1=font-size: 120%; font-weight: bold; color: #1290c3;'
		'block-h2=font-size: 110%; font-weight: bold; color: #1290c3;'
		'block-h3=font-size: 105%; font-weight: bold; color: #1290c3;'
		'block-h4=font-weight: bold; color: #1290c3;'
		'block-h5=font-size: 90%; font-weight: bold; color: #1290c3;'
		'block-h6=font-size: 80%; font-weight: bold; color: #1290c3;'
		'phrase-code=font-family: monospace; color: #6d72f6;'
}
IEclipsePreferences#org-eclipse-tm-terminal-control {
	preferences:
		'TerminalPrefInvertColors=true'
}
IEclipsePreferences#org-eclipse-ui-editors {
	preferences:
		'AbstractTextEditor.Color.Background=32,36,37'
		'AbstractTextEditor.Color.Background.SystemDefault=false'
		'AbstractTextEditor.Color.FindScope=30,120,155'
		'AbstractTextEditor.Color.Foreground=131,148,150'
		'AbstractTextEditor.Color.Foreground.SystemDefault=false'
		'AbstractTextEditor.Color.SelectionBackground=27,98,145'
		'AbstractTextEditor.Color.SelectionBackground.SystemDefault=false'
		'AbstractTextEditor.Color.SelectionForeground=147,161,161'
		'AbstractTextEditor.Color.SelectionForeground.SystemDefault=false'
		'asOccurencesIndicationColor=72,72,72'
		'breakpointIndicationColor=51,119,193'
		'currentIPColor=54,54,54'
		'currentLineColor=58,60,64'
		'deletionIndicationColor=224,226,228'
		'filteredSearchResultIndicationColor=27,98,145'
		'hyperlinkColor=111,197,238'
		'hyperlinkColor.SystemDefault=false'
		'infoIndicationColor=86,194,170'
		'lineNumberColor=101,123,131'
		'linked.slave.color=66,156,255'
		'matchingTagIndicationColor=72,72,72'
		'occurrenceIndicationColor=27,98,145'
		'org.eclipse.cdt.ui.writeOccurrenceIndicationColor=27,98,145'
		'overrideIndicatorColor=78,120,117'
		'printMarginColor=101,123,131'
		'searchResultHighlighting=false'
		'searchResultIndication=true'
		'searchResultIndicationColor=94,94,94'
		'searchResultTextStyle=BOX'
		'secondaryIPColor=54,54,54'
		'spellingIndicationColor=253,170,211'
		'writeOccurrenceIndicationColor=27,98,145'
}
IEclipsePreferences#org-eclipse-ui-workbench {
	preferences:
		'ACTIVE_HYPERLINK_COLOR=255,200,0'
		'CONFLICTING_COLOR=240,15,66'
		'CONTENT_ASSIST_BACKGROUND_COLOR=52,57,61'
		'CONTENT_ASSIST_FOREGROUND_COLOR=238,238,238'
		'COUNTER_COLOR=0,208,255'
		'DECORATIONS_COLOR=181,152,86'
		'ERROR_COLOR=247,68,117'
		'HYPERLINK_COLOR=111,197,238'
		'INCOMING_COLOR=31,179,235'
		'OUTGOING_COLOR=238,238,238'
		'RESOLVED_COLOR=108,210,17'
		'cdataBorder=0,254,254'
		'cdataText=255,255,255'
		'commentBorder=75,113,227'
		'commentText=75,113,227'
		'content_assist_parameters_background=52,57,61'
		'content_assist_parameters_foreground=238,238,238'
		'content_assist_proposals_background=52,57,61'
		'content_assist_proposals_foreground=238,238,238'
		'declBoder=0,254,254'
		'doctypeExternalId=127,127,127'
		'doctypeExternalPubref=0,254,254'
		'doctypeExtrenalSysref=106,213,160'
		'doctypeName=0,254,254'
		'dtdComment=128,128,128'
		'dtdData=192,95,95'
		'dtdDefault=255,255,255'
		'dtdKeyword=255,191,191'
		'dtdString=89,224,134'
		'dtdSymbol=255,191,191'
		'dtdTag=96,96,255'
		'dtdTagName=96,96,255'
		'entityReference=212,0,255'
		'org.eclipse.debug.ui.console.background=0,0,0'
		'org.eclipse.debug.ui.console.stream.err=255,127,127'
		'org.eclipse.debug.ui.console.stream.in=0,255,184'
		'org.eclipse.debug.ui.console.stream.out=255,255,255'
		'org.eclipse.egit.ui.DiffAddBackgroundColor=55,87,32'
		'org.eclipse.egit.ui.DiffAddForegroundColor=216,254,245'
		'org.eclipse.egit.ui.DiffHeadlineBackgroundColor=32,36,37'
		'org.eclipse.egit.ui.DiffHeadlineForegroundColor=242,242,242'
		'org.eclipse.egit.ui.DiffHunkBackgroundColor=32,36,37'
		'org.eclipse.egit.ui.DiffHunkForegroundColor=233,242,254'
		'org.eclipse.egit.ui.DiffRemoveBackgroundColor=105,49,49'
		'org.eclipse.egit.ui.DiffRemoveForegroundColor=255,232,237'
		'org.eclipse.egit.ui.IgnoredResourceForegroundColor=160,160,180'
		'org.eclipse.egit.ui.UncommittedChangeForegroundColor=210,220,230'
		'org.eclipse.jdt.ui.ColoredLabels.writeaccess_highlight=54,48,37'
		'org.eclipse.jdt.ui.abstractMethodInvocationHighlighting=255,255,255'
		'org.eclipse.jdt.ui.annotationElementReferenceHighlighting=255,255,255'
		'org.eclipse.jdt.ui.annotationHighlighting=155,155,155'
		'org.eclipse.jdt.ui.autoboxingHighlighting=255,255,0'
		'org.eclipse.jdt.ui.classHighlighting=0,255,255'
		'org.eclipse.jdt.ui.content_assist_completion_replacement_background=127,127,0'
		'org.eclipse.jdt.ui.content_assist_completion_replacement_foreground=255,127,127'
		'org.eclipse.jdt.ui.content_assist_parameters_background=0,0,0'
		'org.eclipse.jdt.ui.content_assist_parameters_foreground=255,255,255'
		'org.eclipse.jdt.ui.deprecatedMemberHighlighting=255,255,255'
		'org.eclipse.jdt.ui.enumHighlighting=247,173,123'
		'org.eclipse.jdt.ui.fieldHighlighting=159,159,255'
		'org.eclipse.jdt.ui.inheritedMethodInvocationHighlighting=255,255,255'
		'org.eclipse.jdt.ui.interfaceHighlighting=125,158,255'
		'org.eclipse.jdt.ui.java_bracket=255,255,255'
		'org.eclipse.jdt.ui.java_comment_task_tag=76,96,115'
		'org.eclipse.jdt.ui.java_default=255,255,255'
		'org.eclipse.jdt.ui.java_doc_default=75,113,227'
		'org.eclipse.jdt.ui.java_doc_keyword=76,96,115'
		'org.eclipse.jdt.ui.java_doc_link=96,96,255'
		'org.eclipse.jdt.ui.java_doc_tag=108,108,135'
		'org.eclipse.jdt.ui.java_keyword=255,0,255'
		'org.eclipse.jdt.ui.java_keyword_return=255,0,255'
		'org.eclipse.jdt.ui.java_multi_line_comment=106,213,160'
		'org.eclipse.jdt.ui.java_operator=255,255,255'
		'org.eclipse.jdt.ui.java_single_line_comment=106,213,160'
		'org.eclipse.jdt.ui.java_string=212,0,255'
		'org.eclipse.jdt.ui.localVariableDeclarationHighlighting=246,144,144'
		'org.eclipse.jdt.ui.localVariableHighlighting=246,144,144'
		'org.eclipse.jdt.ui.matchingBracketsColor=255,0,255'
		'org.eclipse.jdt.ui.methodDeclarationHighlighting=255,255,255'
		'org.eclipse.jdt.ui.methodDeclarationNameHighlighting=255,255,255'
		'org.eclipse.jdt.ui.methodHighlighting=255,255,255'
		'org.eclipse.jdt.ui.numberHighlighting=212,0,255'
		'org.eclipse.jdt.ui.parameterVariableHighlighting=246,144,144'
		'org.eclipse.jdt.ui.pf_coloring_argument=255,0,255'
		'org.eclipse.jdt.ui.pf_coloring_assignment=255,255,255'
		'org.eclipse.jdt.ui.pf_coloring_comment=106,213,160'
		'org.eclipse.jdt.ui.pf_coloring_key=255,255,255'
		'org.eclipse.jdt.ui.pf_coloring_value=212,0,255'
		'org.eclipse.jdt.ui.staticFieldHighlighting=159,159,255'
		'org.eclipse.jdt.ui.staticFinalFieldHighlighting=159,159,255'
		'org.eclipse.jdt.ui.staticMethodInvocationHighlighting=255,255,255'
		'org.eclipse.jdt.ui.typeArgumentHighlighting=255,255,0'
		'org.eclipse.jdt.ui.typeParameterHighlighting=247,173,123'
		'org.eclipse.jdt.ui.typeVariableDeclarationHighlighting=247,173,123'
		'org.eclipse.mylyn.tasks.ui.colors.category.gradient.end=35,35,35'
		'org.eclipse.mylyn.tasks.ui.colors.category.gradient.start=15,15,15'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.completed=127,127,127'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.overdue.for.others=255,191,191'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.past.due=255,23,245'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.past.scheduled=140,92,255'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.task.active=249,151,255'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.thisweek.scheduled=255,255,255'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.today.completed=95,151,114'
		'org.eclipse.mylyn.tasks.ui.colors.foreground.today.scheduled=140,92,255'
		'org.eclipse.mylyn.tasks.ui.colors.incoming.background=15,16,17'
		'org.eclipse.recommenders.snipmatch.rcp.searchResultBackgroundColor=0,0,0'
		'org.eclipse.recommenders.snipmatch.rcp.searchboxbackground=16,17,16'
		'org.eclipse.search.ui.match.highlight=93,86,76'
		'org.eclipse.ui.editors.backgroundColor=0,0,0'
		'org.eclipse.ui.editors.currentLineColor=11,12,12'
		'org.eclipse.ui.editors.findScope=76,72,74'
		'org.eclipse.ui.editors.foregroundColor=255,255,255'
		'org.eclipse.ui.editors.lineNumberRulerColor=135,135,135'
		'org.eclipse.ui.editors.printMarginColor=72,74,76'
		'piBorder=0,254,254'
		'tagAttributeName=255,0,255'
		'tagAttributeValue=212,0,255'
		'tagBorder=0,254,254'
		'tagName=89,179,179'
}
IEclipsePreferences#org-eclipse-wst-jsdt-ui {
	preferences:
		'CONTENT_ASSIST_BACKGROUND_COLOR=52,57,61'
		'CONTENT_ASSIST_FOREGROUND_COLOR=238,238,238'
		'content_assist_parameters_background=52,57,61'
		'content_assist_parameters_foreground=238,238,238'
		'content_assist_proposals_background=52,57,61'
		'content_assist_proposals_foreground=238,238,238'
}
